[submodule "deps/iteratee.js"]
	path = deps/iteratee.js
	url = git@github.com:jamessanders/iteratee.js.git
[submodule "deps/iterator.js"]
	path = deps/iterator.js
	url = git@github.com:jamessanders/iterators.js.git
[submodule "deps/http-stream"]
	path = deps/http-stream
	url = git@github.com:jamessanders/http-stream.git
[submodule "deps/node-static"]
	path = deps/node-static
	url = git://github.com/jamessanders/node-static.git
[submodule "deps/servermedium.js"]
	path = deps/servermedium.js
	url = git@github.com:thisismedium/servermedium.js.git
[submodule "deps/node-tokyocabinet"]
	path = deps/node-tokyocabinet
	url = git://github.com/jamessanders/node-tokyocabinet.git

