body {
    font-family: sans-serif;
}
h1, h2, h3 {
    font-weight: normal;
}

#header {
    margin-top: 15px;
    overflow:auto;
    width:99.5%;
}

#channel {
    float:left;
}
#username {
    float:right;
    color: #438ce5;
}

h2 {
    margin:0;
    padding:0;
    margin-bottom:10px;

    
}
h3 {
    margin:0;
    margin-bottom: 10px;
    padding:0;
    color: #999;
}

#content {
    width: 90%;
    margin: 10px auto;
}
.panes{
    width: 100%;
    overflow: auto;
}
input, #message-pane, #user-pane {
    background: #fafafa;
    border: solid #ddd 1px;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
}
input#user-input {
   border-right-color: #ddd;
   border-bottom-color: #dd;
   border-left-color: #ccc;
   border-top-color: #ccc;
}
input#user-input.hover {
    background-color: #fffde8;
}
#message-pane, #user-pane {
   float:left;
}
#user-pane {
    width: 15%;
    height: 350px;
    margin-right: 1%;
}
#message-pane {
    width: 83%;
    background: #f2f7ff;
}
input { padding: 10px }

#messages {
    padding:0;
    margin:0;
    height: 350px;
    overflow-x: auto;
}
#messages .mesg, #user-pane .user {
    margin:0;
    padding:10px;
    border-bottom: dashed 1px #ddd;

}
#user-pane .user{
    font-size: x-small;
}
#messages .mesg {
    border-color: #dadfe5;
}
#messages .mesg.error {
    color:red;
}

#form {
    margin-top: 10px;
}

#user-input {
    width: 90%;
    margin-right: 1%;
}
#send {
    width: 8%;
}

#commands-list {
    font-size: small;
}

ul.commands{
    list-style: none;
    margin:0;
    padding:0;
    padding-left: 10px;
}
ul.commands li {
    font-family: monospace;
    margin-bottom: 5px;
}